/* FOTO PERFIL */

.profile-photo{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin:20px auto;
    border:2px solid #38bdf8;
}

/* PROYECTOS */

.project-card{
    background:#111827;
    border:1px solid #1f2937;
    border-radius:10px;
    padding:20px;
    margin-top:20px;
}

.project-card h2{
    margin-bottom:10px;
}

.project-card p{
    margin-bottom:15px;
}

/* TAGS */

.tags{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-bottom:15px;
}

.tags span{
    background:#1f2937;
    color:#38bdf8;
    padding:5px 10px;
    border-radius:20px;
    font-size:0.8rem;
}

/* BOTON */

.project-button{
    display:inline-block;
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:10px 15px;
    border-radius:8px;
}

.project-button:hover{
    background:#1d4ed8;
}